{{> head }}



    {{> navbar}}

<div class="container">
    <dir class="row">
        <div class="col-8">
            <h1>Koala</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore doloribus dignissimos aliquid quod totam consequatur, voluptatum consectetur culpa, provident vero cupiditate quas hic pariatur incidunt aperiam fugit commodi non tenetur?</p>
        </div>


        <div class="col-4">
            <img src="assets/img/Koala.jpg" alt="..." class="img-thumbnail">
        </div>
    </dir>
</div>
    



{{> footer}}